In [1]:
# IF else whlie for conditional statements

In [3]:
a = int(input("Enter the number"));

if a < 10:
    print('A is samller than 10')
else:
    print('A is greater than 10 ')

Enter the number 12

A is greater than 10

In [ ]:
#to print the multiplication table

num = int(input("Enter the number to print table"))
def mul(n):
    resultAdd = 0
    for i in range(1,11):
        res = n * i
        print(res)
        resultAdd += res
    print('Total number of table element addition :',resultAdd)    
    
mul(num)

In [1]:
#to print the multiplication table

num = int(input("Enter the number to print table"))
def mul(n):
    resultAdd = 0
    for i in range(1,11):
        res = n * i
        print(res)
        resultAdd += res
    print('Total number of table element addition :',resultAdd)    
    
mul(num)

Enter the number to print table 1222

1222
2444
3666
4888
6110
7332
8554
9776
10998
12220
Total number of table element addition : 67210

In [3]:
i = 1
n = 11

while i < n:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [4]:
i = 1
n = 11

while i < n:
    print(i)
    i += 1
else:
    print('This is else block')

1
2
3
4
5
6
7
8
9
10
This is else block

In [6]:
i = 1
n = 11

while i < n:
    print(i)
    i += 1
    if i == 11:
        break
else:
    print('This is else block')

1
2
3
4
5
6
7
8
9
10

In [7]:
s = 'sarvesh'
for i in s:
    print(i)

s
a
r
v
e
s
h

In [9]:
for i in s:
    print(i+ s[::-1])

shsevras
ahsevras
rhsevras
vhsevras
ehsevras
shsevras
hhsevras

In [13]:
l = [12,23,45,56,23,6,'sgsg','sfssdfgg']
for i in l:
    print(i)
    print(i,type(i))

12
12 <class 'int'>
23
23 <class 'int'>
45
45 <class 'int'>
56
56 <class 'int'>
23
23 <class 'int'>
6
6 <class 'int'>
sgsg
sgsg <class 'str'>
sfssdfgg
sfssdfgg <class 'str'>

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]